.emoji-item {
  user-select: none;
  font-size: 32px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform .15s ease-out;
  font-family: "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    background: #fafafa;
    transform: scale(0.9);
  }
}
