.empty-result {
  text-align: center;

  h1 {
    font-size: 110px;
    margin-bottom: 0;
    animation: pop-in .2s .1s ease-out forwards;
    opacity: 0;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 0;
    color: var(--text-quiet)
  }

  p {
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--text-supershy);
    font-size: 12px;
  }
}

