.onboarding {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
  animation: pop-in .2s .2s ease-out forwards;
  opacity: 0;

  &__content {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--background);
    border: 1px solid var(--border-modal);
    box-shadow: 0 4px 16px #b2b2b2;

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 4px 16px #000000;
    }
      display: grid;
    column-gap: 1rem;
    grid-template-areas: 'title title'
    'icon description'
    'icon description';

    &-icon {
      grid-area: icon;
      font-size: 32px;
      svg {
        height: 100%;
        width: 100%;
      }
    }

    &-title {
      grid-area: title;
      color: var(--text-primary);
      margin-top: 0;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }

    &-description {
      font-size: 14px;
      margin-top: 0;
      grid-area: description;
      color: var(--text-quiet);
    }

    &-close {
      cursor: pointer;
      color: var(--text-supershy);
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      justify-content: center;
      align-content: center;
      height: 24px;
      width: 24px;
      border-radius: 6px;
      user-select: none;
      line-height: 22px;
      border: 1px solid transparent;
      transition: transform .15s ease-out;


      &:hover {
        transform: scale(1.05);
        border-color: var(--border-modal)
      }

      &:active {
        background: var(--background);
        transform: scale(0.9);
      }
    }
  }
}
