@use "../foundations/colors";

.section-search {
  grid-area: search;
  height: 56px;
  background: colors.$brand;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    background: transparent;
    color: #000;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 24px;
    width: 90%;
  }
}
