@import "foundations/colors";
@import "foundations/animations";

@import "components/emoji-group";
@import "components/emoji-item";
@import "components/empty-result";
@import "components/history";
@import "components/notification";
@import "components/onboarding";

@import "sections/section-search";
@import "sections/section-list";

body {
  height: 561px;
  width: 350px;
  font-size: 16px;
  font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#root {
  width: 100%;
}

#app {
  display: grid;
  grid-template-areas:
          'search'
          'history'
          'list';
}
