.search {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    box-sizing: border-box;
    input {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        background: transparent;
        border: 0;
        font-weight: bold;
        &:focus {
            border: 0;
            outline: 0;
        }
        &::placeholder {
            text-transform: capitaliz;
        }
    }
}